@use "variables" as *;
@use "mixins";

.modal {
  @include mixins.sublayer;

  // height: max-content;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;

  display: none;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  padding-top: 5vh;
  padding-bottom: 5vh;

  background-color: $overlayBackground;

  &_active {
    display: flex;
  }

  &__container {
    @include mixins.container;
    @include mixins.flex(column);

    position: relative;

    overflow-y: auto;
    gap: $defaultPadding;

    box-sizing: border-box;
    max-height: 90vmin;
    border-radius: 3rem;

    background-color: $background;
  }

  &__content {
    flex-grow: 1;
  }

  &__title {
    margin: 0;
    font-size: 1.5rem;
    font-weight: 400;
  }

  &__actions {
    @include mixins.flex(row);

    gap: 2rem;
    align-items: center;
  }

  &__close {
    position: absolute;
    top: calc(#{$defaultPadding} / 2);
    right: calc(#{$defaultPadding} / 2);

    @include mixins.icon(2rem, "close");
    @include mixins.link(white, $hover);
  }

  &__footer {
    @include mixins.flex(row);

    gap: 2rem;
    align-items: center;
  }

  &__message {
    overflow: hidden;
    max-width: 60%;
    text-overflow: ellipsis;
    white-space: nowrap;

    &_error {
      color: $error;
    }
  }
}
